@font-face {
	font-family: 'chuanbang2014';
	src:url('../fonts/chuanbang2014.eot?-qtndlk');
	src:url('../fonts/chuanbang2014.eot?#iefix-qtndlk') format('embedded-opentype'),
		url('../fonts/chuanbang2014.woff?-qtndlk') format('woff'),
		url('../fonts/chuanbang2014.ttf?-qtndlk') format('truetype'),
		url('../fonts/chuanbang2014.svg?-qtndlk#chuanbang2014') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'chuanbang2014';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-explorer:before {
	content: "\e600";
}
.icon-homepage:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-search_clean:before {
	content: "\e604";
}
.icon-search:before {
	content: "\e605";
}
.icon-hot-answer:before {
	content: "\e606";
}
.icon-uploadphoto:before {
	content: "\e607";
}
.icon-brand:before {
	content: "\e608";
}
.icon-answer-rec:before {
	content: "\e609";
}
.icon-new_answer:before {
	content: "\e60a";
}
.icon-compare:before {
	content: "\e60d";
}
.icon-answer:before {
	content: "\e60e";
}
.icon-vote:before {
	content: "\e60f";
}
.icon-follower:before {
	content: "\e610";
}
.icon-draft:before {
	content: "\e611";
}
.icon-myhome:before {
	content: "\e612";
}
.icon-pm:before {
	content: "\e613";
}
.icon-collection:before {
	content: "\e614";
}
.icon-share:before {
	content: "\e615";
}
.icon-logout:before {
	content: "\e616";
}
.icon-setting:before {
	content: "\e617";
}
.icon-link:before {
	content: "\e618";
}
.icon-comment:before {
	content: "\e619";
}
.icon-byTime:before {
	content: "\e61a";
}
.icon-byVote:before {
	content: "\e61b";
}
.icon-discuss:before {
	content: "\e61c";
}
.icon-topicOffen:before {
	content: "\e61d";
}
.icon-Notification:before {
	content: "\e61e";
}
.icon-event:before {
	content: "\e61f";
}
.icon-pageCurrent:before {
	content: "\e620";
}
.icon-weibo:before {
	content: "\e621";
}
.icon-tagClose:before {
	content: "\e622";
}
.icon-wechat:before {
	content: "\e648";
}
.icon-qq:before {
	content: "\e623";
}
.icon-qqweibo:before {
	content: "\e624";
}
.icon-answerAdd:before {
	content: "\e625";
}
.icon-phone:before {
	content: "\e626";
}
.icon-archivement:before {
	content: "\e627";
}
.icon-photos:before {
	content: "\e628";
}
.icon-weiboB:before {
	content: "\e629";
}
.icon-more:before {
	content: "\e649";
}
.icon-question:before {
	content: "\e62a";
}
.icon-qqB:before {
	content: "\e62b";
}
.icon-qqweiboB:before {
	content: "\e62c";
}
.icon-splicing1:before {
	content: "\e62d";
}
.icon-phoneB:before {
	content: "\e62e";
}
.icon-wechatB:before {
	content: "\e64a";
}
.icon-splicing3:before {
	content: "\e62f";
}
.icon-splicing2:before {
	content: "\e630";
}
.icon-splicing4:before {
	content: "\e631";
}
.icon-splicing5:before {
	content: "\e632";
}
.icon-idAnonymous:before {
	content: "\e634";
}
.icon-splicing6:before {
	content: "\e635";
}
.icon-time:before {
	content: "\e636";
}
.icon-location:before {
	content: "\e637";
}
.icon-photoBig:before {
	content: "\e638";
}
.icon-photoList:before {
	content: "\e639";
}
.icon-close:before {
	content: "\e63a";
}
.icon-userAvatar:before {
	content: "\e63c";
}
.icon-refresh:before {
	content: "\e63d";
}
.icon-back:before {
	content: "\e63e";
}
.icon-enter:before {
	content: "\e640";
}
.icon-loading:before {
	content: "\e641";
}
.icon-Celebrity:before {
	content: "\e642";
}
.icon-complete:before {
	content: "\e643";
}
.icon-add:before {
	content: "\e644";
}
.icon-chuanbang:before {
	content: "\e645";
}
.icon-chuanbang.com:before {
	content: "\e647";
}
.icon-waiting_answer:before {
	content: "\e60b";
}
.icon-NotificationAll:before {
	content: "\e60c";
}
.icon-left:before {
	content: "\e63b";
}
.icon-idPublic:before {
	content: "\e633";
}
.icon-chuanbangStar:before {
	content: "\e63f";
}
.icon-leftOver:before {
	content: "\e64b";
}
.icon-rightOver:before {
	content: "\e64c";
}
.icon-downOver:before {
	content: "\e64d";
}
.icon-upOver:before {
	content: "\e64e";
}
.icon-up:before {
	content: "\e64f";
}
.icon-down:before {
	content: "\e650";
}
.icon-right:before {
	content: "\e651";
}
.icon-Notification2:before {
	content: "\e603";
}
.icon-notifications:before {
	content: "\e652";
}
.icon-deleteCompare:before {
	content: "\e654";
}
.icon-chuanbang2:before {
	content: "\e646";
}
.icon-vertical:before {
	content: "\e655";
}
.icon-horizontal:before {
	content: "\e656";
}
.icon-listmode:before {
	content: "\e653";
}
